Order Deny,Allow
Deny from all

# Allow access to CSS files
<Files "*.css">
    Order Allow,Deny
    Allow from all
</Files>

# Allow access to JavaScript files
<Files "*.js">
    Order Allow,Deny
    Allow from all
</Files>

