@page "/home"
@using HotelDruid.Client.Services
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["home.title", "Home"]</PageTitle>

<h1>@L["home.heading", "Hello, world!"]</h1>

@L["home.message", "Welcome to your new app."]

