@page "/home"
@using HotelDruid.Client.Services
@inject ILanguageService LanguageService

<PageTitle>@LanguageService.GetText("home.title", "Home")</PageTitle>

<h1>@LanguageService.GetText("home.heading", "Hello, world!")</h1>

@LanguageService.GetText("home.message", "Welcome to your new app.")
