@page "/not-found"
@layout MainLayout
@using Microsoft.Extensions.Localization
@using HotelDruid.Client.Localization
@inject IStringLocalizer<SharedResource> L

<h3>@L["NotFound.Title"]</h3>
<p>@L["NotFound.Message"]</p>