@inherits LayoutComponentBase
@using Microsoft.Extensions.Localization
@using HotelDruid.Client.Localization
@inject IStringLocalizer<SharedResource> L

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
