# add gitignore entries for dot net core and blazor solutions
bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.dll
*.exe
*.pdb
*.cache
*.log
*.db
*.db-shm
*.db-wal
*.nuget/
*.userosscache
*.userprefs
*.ide/
*.sln.docstates
wwwroot/_framework/
wwwroot/_bin/
wwwroot/blazor.boot.json
wwwroot/*.dll
wwwroot/*.pdb
wwwroot/*.wasm
wwwroot/*.js
wwwroot/*.json
wwwroot/*.dat
wwwroot/*.symbols.nupkg
*.code-workspace
*.publishsettings 